*{
    background: #4d319f;
}
.header{
    background: #e7e6ea;
    overflow: hidden;
    margin-left: 5%;
}
.header-title{
    margin-top: 5%;
    font-size: 24px;
    color: #e8d408;
    font-family: 'Rubik', sans-serif;
}
.header-nav{
    margin-top: -90px;
    margin-right: 5%;
    display: flex;
    justify-content: right;
}
.header a{
    float: left;
    color: #FF5675;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;

}
.topnav a:hover {
    background-color: #e5d4a0;
    color: black;
}

.main-page{
    margin-top: 100px;
    background-size: cover;
    width: 100%;
    height: 720px;
    background: url("starry night zoom background -1.png");
    background-size: cover;
}
.main-page h1{
    font-size: 50px;
    color: #464646;
    width: 300px;
    background: #e7e6ea;
    font-family: 'Rubik', sans-serif;
    padding-left: 10%;
    padding-top: 8%;
}
.main-page p{
    font-size: 30px;
    font-family: 'Cute Font', cursive;
    width: 500px;
    background: #e7e6ea;
    padding-left: 10%;
    color: #FF5675;
}
.main-page button{
    font-family: 'Cute Font', cursive;
    border: 1px solid #FF5675;
    width: 7%;
    height: 30px;
    border-radius: 30px;
}
.main-page .Writing,.main-page .Reading{
    background: #e7e6ea;
}
.main-page a{
    text-decoration: none;
    color: #FF5675;
    background: #eee8e8;
}
.bt{
    margin-left: 10%;
    background: rgb(236,207,209);
}
.sub-page{
    margin-top: 10%;
}
.sub-page-main{
    display: flex;
    justify-content: center;
}
.sub-page-header{
    text-align: center;
    font-family: 'Cute Font', cursive;
}
.sub-page-header h1{
    font-size: 50px;
    color: #464646;
}
.sub-page-header h3{
    font-size: 24px;
    color: #464646;
}
.sub-page1,.sub-page2,.sub-page3{
    width: 20%;
    text-align: center;
    font-family: 'Cute Font', cursive;
    padding-top: 1%;
}
h4{
    font-size: 18px;
}
p{
    color: #FF5675;
    font-family: 'Cute Font', cursive;
}
.FAQ{
    margin-top:10% ;
    text-align: center;
}
.FAQ h1{
    color: #464646;
    font-family: 'Rubik', sans-serif;
}
.FAQ h3{
    font-family: 'Cute Font', cursive;
    color: #464646;
    font-size: 24px;
}
.FAQ button{
    border: none;
}
.FAQ{
    height: 60%;
}
.bottom-nav-top{
    display: flex;
    justify-content: left;
    font-family: 'Cute Font', cursive;
    color: #FF5675;
    text-align: left;
    margin-right:30%;
    margin-top: 10%;
}
.line{
    border-bottom: 1px solid #464343;
    width: 60%;
    margin: auto;
}
.bottom-nav-bot{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    font-family: 'Cute Font', cursive;
    color: #FF5675;
}
.bottom-nav-top .Pes-info, .bottom-nav-top .Call{
    margin-left: 7%;
}
.faq1text,.faq2text,.faq3text{
    display: none;
}
