@charset "UTF-8";
body{
    background:white;
}
h1{
    font-size: 50px;
    color:#EEE3F8;
    margin-top: 100px
}
.container{
    border: 1px solid #B5B5B5;
    width: 396px;
    height: 320px;
    margin:0 auto;
    border-radius: 32px;
}

header{
    display:flex;
    justify-content: center;
}
.id{
    margin-top: 12px;
    border:none;
}
.passward{
    margin-top: 14px;
    border:none;

}
.idbox,.passwardbox{
    width: 366px;
    height: 53px;
    border:solid 1px #B5B5B5;
    border-radius:17px;
    display: flex;
    justify-content:center;
}
.idbox{
    margin-top:12px;
    margin-left: 14px;
}
.passwardbox{
    margin-top:12px;
    margin-left: 14px;
}
.id, .passward{
    width: 307px;
    height: 22px;
    border-radius: 7px;
    background: #F7F8E3;
}

.push{
    width: 339px;
    height: 52px;
    border-radius: 14px;
    border: 1px solid #B5B5B5;
    background:#EEE3F8 ;
    color: white;
    font-size: 30px;
}
.buttom{
    color:#ACABAB;
    display:flex;
    justify-content: center;
    margin-top: 54px;
    font-size: 14px;
    margin-left: -20px;
}
.loginbt{
    display:flex;
    justify-content: center;
    margin-top:15px;
}

#id,#pass{
    margin-top: 15px;
    margin-right: 10px;
}
.Findps,.Findid{
    border: 1px solid #B5B5B5;
    border-bottom: none;
    border-top: none;
    border-left: none;
    width: 90px;
}
.Findps{
    margin-right: 5px;
}
.join{
    margin-left: 5px;
}