*{
    margin: 0;
    padding: 0;
}
body{
    background: antiquewhite;
}
header{
    text-align: center;
    margin-top: 10%;
}
main{
    margin-top: 10%;
}
h1{
    font-family: 'Koulen', cursive;
}
main{
    display: flex;
    justify-content: space-between;
    height: 300px;

}
.main1,.main2,.main3,.main4,.main5,.main6,.main7{
    width: 20%;
    height: 100%;
    border: 1px solid red;
    text-align: center;
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 10%;

}
a{
    color:snow;
    text-decoration: none;

}
.main1{
    background:indianred;
    transform: rotate(-30deg);
    margin-top:10%;

}
.main2{
    background-color: coral;
    transform: rotate(-20deg);
    margin-top:4%;
}
.main3{
    background-color: #eeee9e;
    transform: rotate(-10deg);
    margin-top:0.4%;

}
.main4{
    background-color: #9cee9c;
    transform: rotate(0deg);
    margin-top: -10px;
}
.main5{
    background-color: blue;
    transform: rotate(10deg);
    margin-top: 0.4%;
}
.main6{
    background-color: cadetblue;
    transform: rotate(20deg);
    margin-top: 4%;
}
.main7{
    background-color: rebeccapurple;
    transform: rotate(30deg);
    margin-top:10%;
}

@media screen and (max-width: 1620px){
    body{
        background-color: #9cee9c
    }
    main{
        display: flex;
        justify-content: space-between;
        height: 100px;

    }
    .main1,.main2,.main3,.main4,.main5,.main6,.main7{
        width: 20%;
        height: 100%;
        border: 1px solid red;
        text-align: center;
        font-size: 30px;
        font-family: 'Titillium Web', sans-serif;
        border-radius: 10%;
    }
    .main1{
        background:indianred;
        transform: rotate(-30deg);
        margin-top:10%;

    }
    .main2{
        background-color: coral;
        transform: rotate(-20deg);
        margin-top:4%;
    }
    .main3{
        background-color: #eeee9e;
        transform: rotate(-10deg);
        margin-top:0.4%;

    }
    .main4{
        background-color: #9cee9c;
        transform: rotate(0deg);
        margin-top: -10px;
    }
    .main5{
        background-color: blue;
        transform: rotate(10deg);
        margin-top: 0.4%;
    }
    .main6{
        background-color: cadetblue;
        transform: rotate(20deg);
        margin-top: 4%;
    }
    .main7{
        background-color: rebeccapurple;
        transform: rotate(30deg);
        margin-top:10%;
    }
}